@import "compass/reset";
@import "compass";
/*@import "index-content";*/

$main-bg-green  : #80cac3;
$menu-bg-green  : #39bdb1;
$menu-bg-yellow : #ddd12d;
$light-bg-green : #37eeab;
$footer-green   : #1f998d;
$border-green   : #a2e1db;
$font-green     : #075e55;
$font-red       : #ee376f;
$bg-white       : #edfffd;

body {
	background : $main-bg-green;
	overflow-x : hidden;
	font       : 12px/1.6em 'Century Gothic', sans-serif, serif, '黑體', 'Heiti TC', '微軟正黑體';
}

input, textarea {
	font-family : 'Century Gothic', sans-serif, serif, '黑體', 'Heiti TC', '微軟正黑體';
}

.both {
	height   : 100%;
	clear    : both;
	overflow : hidden;
	zoom     : 1;
}

.middleSet {
	position  : relative;
	font-size : 0;

	&:before {
		content        : '';
		display        : inline-block;
		height         : 100%;
		vertical-align : middle;
	}

	* {
		display        : inline-block;
		font-size      : initial;
		vertical-align : middle;
	}
}

.hide-text {
	white-space : nowrap;
	text-indent : 100%;
	overflow    : hidden;
}

.l-header {
	width    : 100%;
	position : fixed;
	z-index  : 6;

	.main-menu {
		@include box-sizing(border-box);
		margin   : 0 auto;
		padding  : 0 0 0 87px;
		width    : 1200px;
		position : relative;

		&:before {
			content    : '';
			background : $menu-bg-green;
			display    : block;
			width      : 500px;
			height     : 100%;
			position   : absolute;
			top        : 0;
			left       : -413px;
		}
	}

	.menu-list {
		position : relative;

		&:after {
			content       : '';
			position      : relative;
			float         : left;
			border-top    : 36px solid $footer-green;
			border-right  : 29px solid transparent;
			border-bottom : 36px solid transparent;
			border-left   : 29px solid $footer-green;
			z-index       : 2;
		}

		.list {
			background : $menu-bg-green;
			height     : 72px;
			position   : relative;
			float      : left;

			&:before {
				content       : '';
				position      : absolute;
				top           : 0;
				left          : -60px;
				border-top    : 36px solid transparent;
				border-right  : 29px solid $main-bg-green;
				border-bottom : 36px solid $main-bg-green;
				border-left   : 29px solid transparent;
			}

			&:after {
				content       : '';
				position      : absolute;
				top           : 0;
				left          : -58px;
				border-top    : 36px solid transparent;
				border-right  : 29px solid $menu-bg-green;
				border-bottom : 36px solid $menu-bg-green;
				border-left   : 29px solid transparent;
			}

			&:nth-child(5), &:nth-child(6) {
				background : $footer-green;

				&:after {
					border-right  : 29px solid $footer-green;
					border-bottom : 36px solid $footer-green;
				}
			}

			.link {
				display  : block;
				width    : 98px;
				height   : 100%;
				position : relative;
				z-index  : 2;

				&:after {
					content    : '';
					margin-top : -10px;
					background : image-url('menu.png') no-repeat 0 0;
					display    : block;
					width      : 39px;
					height     : 19px;
					position   : absolute;
					top        : 50%;
					left       : 0;
				}

				&:hover:after, &.is-curr:after {
					background-position : -80px 0;
				}

				&.activity {
					width : 128px;

					&:after {
						background-position : 0 -19px;
						width               : 80px;
					}

					&:hover:after, &.is-curr:after {
						background-position : -80px -19px;
					}
				}

				&.vote {
					width : 128px;

					&:after {
						background-position : 0 -38px;
						width               : 80px;
					}

					&:hover:after, &.is-curr:after {
						background-position : -80px -38px;
					}
				}

				&.winners {
					width : 128px;

					&:after {
						background-position : 0 -57px;
						width               : 80px;
					}

					&:hover:after, &.is-curr:after {
						background-position : -80px -57px;
					}
				}

				&.join {
					width : 128px;

					&:after {
						background-position : 0 -76px;
						width               : 80px;
					}

					&:hover:after, &.is-curr:after {
						background-position : -80px -76px;
					}
				}

				&.facebook {
					width : 37px;

					&:after {
						margin-top          : -12px;
						background-position : 0 -95px;
						width               : 24px;
						height              : 24px;
					}

					&:hover:after, &.is-curr:after {
						background-position : -80px -95px;
					}
				}
			}
		}
	}
}

.midWrap {
	position : relative;

	.content-Wrap {
		@include box-sizing(border-box);
		margin   : 0 auto;
		padding  : 0 0 0 87px;
		width    : 1200px;
		position : relative;
	}

	.main-title, .sub-title, .desc, .emphasize {
		background : image-url('index-text.png') no-repeat 0 0;
		display    : block;
	}

	.mainContent {
		@include box-sizing(border-box);
		padding-top : 138px;
		height      : 810px;

		.main-title {
			margin : 0 0 37px 0;
			width  : 483px;
			height : 167px;
		}

		.sub-title {
			margin              : 0 0 9px 0;
			background-position : 0 -167px;
			width               : 397px;
			height              : 44px;
		}

		.desc {
			margin              : 0 0 44px 0;
			background-position : 0 -211px;
			width               : 399px;
			height              : 48px;
		}

		.emphasize {
			margin              : 0 0 30px 0;
			background-position : 0 -259px;
			width               : 352px;
			height              : 23px;
		}
	}

	.subContent.activity-time {
		background : $menu-bg-yellow;
		height     : 596px;
		position   : relative;
		z-index    : 2;

		&:before {
			content       : '';
			margin-left   : -960px;
			position      : absolute;
			top           : -356px;
			left          : 50%;
			border-top    : 219px solid transparent;
			border-right  : 960px solid $menu-bg-yellow;
			border-bottom : 219px solid $menu-bg-yellow;
			border-left   : 960px solid transparent;
		}

		.content-Wrap {
			padding : 0 635px 24px 0;
			height  : 100%;

			&:before {
				content       : '';
				position      : absolute;
				top           : 0;
				left          : -360px;
				border-top    : 41px solid $main-bg-green;
				border-right  : 180px solid transparent;
				border-bottom : 41px solid transparent;
				border-left   : 180px solid $main-bg-green;
			}

			&:after {
				content     : '';
				margin-left : -580px;
				background  : image-url('bg-activity.png') no-repeat 0 0;
				display     : block;
				width       : 1160px;
				height      : 446px;
				position    : absolute;
				bottom      : 0;
				left        : 50%;
				z-index     : -1;
			}
		}

		.sub-title {
			margin              : -35px 0 96px 0;
			background-position : 0 -282px;
			width               : 218px;
			height              : 47px;
			position            : relative;
			float               : right;
		}

		.desc {
			margin              : 0 0 24px 0;
			background-position : 0 -329px;
			width               : 342px;
			height              : 202px;
			float               : right;
		}

		.btn-link {
			background : #f3eb6a;
			display    : block;
			width      : 210px;
			height     : 56px;
			position   : absolute;
			top        : -269px;
			left       : 162px;
			border     : 2px solid #000;

			&:before {
				content    : '';
				margin-top : -13px;
				background : image-url('btn.png') no-repeat 0 0;
				display    : block;
				width      : 123px;
				height     : 27px;
				position   : absolute;
				top        : 50%;
				left       : 32px;
			}

			&:after {
				content       : '';
				margin-top    : -14px;
				display       : block;
				position      : absolute;
				top           : 50%;
				right         : 20px;
				border-top    : 14px solid transparent;
				border-bottom : 14px solid transparent;
				border-left   : 24px solid #000;
			}
		}

		.crossed {
			top  : 51px;
			left : 550px;
		}
	}

	.subContent.reward {
		@include box-sizing(border-box);
		padding    : 24px 0;
		background : $light-bg-green;
		height     : 574px;
		position   : relative;
		z-index    : 3;

		&:before {
			content       : '';
			margin-left   : -960px;
			position      : absolute;
			top           : -356px;
			left          : 50%;
			border-top    : 219px solid transparent;
			border-right  : 960px solid $light-bg-green;
			border-bottom : 219px solid $light-bg-green;
			border-left   : 960px solid transparent;
		}

		.content-Wrap {
			padding-left : 565px;

			&:before {
				content       : '';
				position      : absolute;
				top           : -24px;
				left          : -360px;
				border-top    : 41px solid $menu-bg-yellow;
				border-right  : 180px solid transparent;
				border-bottom : 41px solid transparent;
				border-left   : 180px solid $menu-bg-yellow;
			}

			&:after {
				content    : '';
				background : image-url('bg-reward.png') no-repeat 0 0;
				display    : block;
				width      : 290px;
				height     : 603px;
				position   : absolute;
				top        : -241px;
				right      : 14px;
			}
		}

		.sub-title {
			margin              : -79px 0 113px 0;
			background-position : 0 -531px;
			width               : 220px;
			height              : 48px;
			position            : relative;
			float               : left;
		}

		.desc {
			margin              : 0 0 26px 0;
			background-position : 0 -579px;
			width               : 318px;
			height              : 201px;
			float               : left;
		}

		.btn-link {
			background : #f3eb6a;
			display    : block;
			width      : 192px;
			height     : 38px;
			position   : absolute;
			top        : -286px;
			left       : 369px;
			border     : 2px solid #000;

			&:before {
				content    : '';
				margin     : -9px 0 0 -40px;
				background : image-url('btn.png') no-repeat 0 -27px;
				display    : block;
				width      : 80px;
				height     : 18px;
				position   : absolute;
				top        : 50%;
				left       : 50%;
			}

			&:after {
				content       : '';
				margin-top    : -9px;
				display       : block;
				position      : absolute;
				top           : 50%;
				right         : 35px;
				border-top    : 9px solid transparent;
				border-bottom : 9px solid transparent;
				border-left   : 15px solid #fd005f;
			}
		}

		.crossed {
			top  : 23px;
			left : 566px;
		}

		.reward-image {
			background : image-url('reward-img.png') no-repeat 0 0;
			display    : block;
			width      : 358px;
			height     : 541px;
			position   : absolute;
			top        : 33px;
			left       : 113px;
		}
	}

	.crossed {
		background : image-url('index-text.png') no-repeat right bottom;
		display    : block;
		width      : 15px;
		height     : 14px;
		position   : absolute;
	}

	.main-image {
		margin-left : 181px;
		background  : image-url('main-img.png') no-repeat right 0;
		display     : block;
		width       : 349px;
		height      : 429px;
		position    : fixed;
		top         : 203px;
		left        : 50%;
		z-index     : 1;
	}

	.sub-image {
		margin-left : 7px;
		background  : image-url('main-img.png') no-repeat left 0;
		display     : block;
		width       : 360px;
		height      : 429px;
		position    : fixed;
		top         : 333px;
		left        : 50%;
		z-index     : 2;
	}

	.btn-slide-down {
		margin-left : -60px;
		padding     : 0;
		background  : image-url('arrow-down.png') no-repeat 0 0;
		display     : block;
		width       : 49px;
		height      : 35px;
		position    : absolute;
		top         : 710px;
		left        : 50%;
		border      : 0;
		z-index     : 2;
	}
}

.l-footer {
	background : $footer-green;
	position   : relative;
	z-index    : 5;

	&:before {
		content       : '';
		margin-left   : -960px;
		position      : absolute;
		top           : -356px;
		left          : 50%;
		border-top    : 219px solid transparent;
		border-right  : 960px solid $footer-green;
		border-bottom : 219px solid $footer-green;
		border-left   : 960px solid transparent;
		z-index       : -1;
	}

	.btn-wrap {
		margin   : 0 auto;
		width    : 1200px;
		position : relative;

		.btn-link {
			background : #59ffc2;
			display    : block;
			width      : 192px;
			height     : 38px;
			position   : absolute;
			top        : -242px;
			left       : 565px;
			border     : 2px solid #000;

			&:before {
				content    : '';
				margin     : -9px 0 0 -40px;
				background : image-url('btn.png') no-repeat 0 -45px;
				display    : block;
				width      : 80px;
				height     : 18px;
				position   : absolute;
				top        : 50%;
				left       : 50%;
			}

			&:after {
				content       : '';
				margin-top    : -9px;
				display       : block;
				position      : absolute;
				top           : 50%;
				right         : 35px;
				border-top    : 9px solid transparent;
				border-bottom : 9px solid transparent;
				border-left   : 15px solid #fd005f;
			}
		}
	}

	.footer-link {
		@include box-sizing(border-box);
		margin   : 0 auto;
		padding  : 12px 0 0 87px;
		width    : 1200px;
		height   : 120px;
		position : relative;

		&:before {
			content       : '';
			position      : absolute;
			top           : 0;
			left          : -360px;
			border-top    : 41px solid $light-bg-green;
			border-right  : 180px solid transparent;
			border-bottom : 41px solid transparent;
			border-left   : 180px solid $light-bg-green;
		}

		.list {
			margin-top : 6px;
			background : image-url('footer.png') no-repeat 0 0;
			width      : 106px;
			height     : 37px;
			float      : left;
		}

		.copyright {
			margin              : 26px 0 0 95px;
			background-position : 0 -37px;
			width               : 377px;
			height              : 15px;
		}

		.fans-club {
			margin              : 9px 0 0 117px;
			background-position : 0 -52px;
			width               : 202px;
			height              : 24px;
		}

		.youtube {
			margin              : 0 0 0 49px;
			background-position : 0 -76px;
			width               : 91px;
			height              : 36px;
		}

		.link {
			display : block;
			width   : 100%;
			height  : 100%;
		}
	}
}

.fancybox-wrap .fancybox-skin {
	background : rgba(31 , 153 , 141 , 0.6) !important;
}

/* vote-page */
body.vote-page {
	.midWrap {
		&:before {
			content       : '';
			display       : block;
			position      : absolute;
			top           : 452px;
			left          : 0;
			border-top    : 219px solid transparent;
			border-right  : 960px solid transparent;
			border-bottom : 219px solid $footer-green;
			border-left   : 960px solid $footer-green;
		}

		.content-Wrap {
			z-index : 1;
		}

		.mainContent {
			margin-bottom : 48px;
			height        : auto;
			position      : relative;

			&:before {
				content    : '';
				background : $footer-green;
				display    : block;
				width      : 100%;
				height     : 154px;
				position   : absolute;
				top        : 890px;
				left       : 0;
			}

			&:after {
				content       : '';
				display       : block;
				position      : absolute;
				top           : 1044px;
				left          : 0;
				border-top    : 219px solid $footer-green;
				border-right  : 960px solid $footer-green;
				border-bottom : 219px solid transparent;
				border-left   : 960px solid transparent;
			}

			.sub-title {
				margin-bottom : 220px;
			}

			.sortable {
				margin-bottom  : 20px;
				height         : 42px;
				color          : #fff;
				font-size      : 18px;
				letter-spacing : 1px;
				line-height    : 42px;

				.desc {
					margin     : 0 30px 0 0;
					background : none;
					display    : inline-block;
					width      : auto;
					height     : auto;
					float      : left;
				}

				.btn-sort {
					margin     : 0 3px 0 0;
					padding    : 0;
					background : transparent;
					height     : 42px;
					position   : relative;
					border     : 0;
					float      : left;
					cursor     : pointer;

					&:before {
						content    : '';
						margin     : -9px 0 0 -36px;
						background : image-url('btn-text.png') no-repeat -71px 0;
						display    : block;
						width      : 71px;
						height     : 18px;
						position   : absolute;
						top        : 50%;
						left       : 50%;
					}

					&.btn-sort-by-date {
						width : 96px;

						&.is-curr:before, &:hover:before {
							background-position : 0 0;
						}
					}

					&.btn-sort-by-hot {
						width : 84px;

						&:before {
							margin-left         : -18px;
							background-position : -71px -18px;
							width               : 36px;
						}

						&.is-curr:before, &:hover:before {
							background-position : 0 -18px;
						}
					}

					&.is-curr {
						background : $main-bg-green;
					}
				}
			}
		}

		.main-image, .sub-image {
			position : absolute;
			z-index  : -1;
		}
	}

	.video-list .list {
		margin     : 0 10px 24px 10px;
		width      : 320px;
		height     : 306px;
		float      : left;
		box-shadow : 5px 5px 5px rgba(0,0,0,0.24);
		overflow   : hidden;

		.video-link {
			display  : block;
			width    : 100%;
			height   : 180px;
			position : relative;
			overflow : hidden;

			&:before {
				content       : '';
				margin        : -27px 0 0 -38px;
				background    : rgba(0,0,0,0.7);
				display       : block;
				width         : 77px;
				height        : 54px;
				position      : absolute;
				top           : 50%;
				left          : 50%;
				border-radius : 10px;
				z-index       : 1;
			}

			&:after {
				content       : '';
				margin        : -11px 0 0 -9px;
				display       : block;
				border-top    : 11px solid transparent;
				border-bottom : 11px solid transparent;
				border-left   : 21px solid #fff;
				position      : absolute;
				top           : 50%;
				left          : 50%;
				z-index       : 1;
			}

			img {
				margin-top : -120px;
				display    : block;
				width      : 100%;
				position   : absolute;
				top        : 50%;
				left       : 0;
			}

			&:hover:before {
				background : #e42b26; /* Old browsers */
				background : -moz-linear-gradient(top, #e42b26 0%, #c0171c 100%); /* FF3.6+ */
				background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e42b26), color-stop(100%,#c0171c)); /* Chrome,Safari4+ */
				background : -webkit-linear-gradient(top, #e42b26 0%,#c0171c 100%); /* Chrome10+,Safari5.1+ */
				background : -o-linear-gradient(top, #e42b26 0%,#c0171c 100%); /* Opera 11.10+ */
				background : -ms-linear-gradient(top, #e42b26 0%,#c0171c 100%); /* IE10+ */
				background : linear-gradient(to bottom, #e42b26 0%,#c0171c 100%); /* W3C */
				filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42b26', endColorstr='#c0171c',GradientType=0 ); /* IE6-9 */
			}
		}

		.video-info {
			@include box-sizing(border-box);
			padding    : 13px 14px;
			background : #fff;
			height     : 74px;
		}

		.video-title {
			overflow      : hidden;
			color         : #000;
			font-size     : 14px;
			line-height   : 24px;
			text-overflow : ellipsis;
			white-space   : nowrap;
		}

		.author {
			padding     : 0 0 0 26px;
			display     : block;
			position    : relative;
			color       : #616161;
			font-size   : 14px;
			line-height : 24px;

			&:before {
				content    : '';
				margin-top : -9px;
				background : image-url('icons.png') no-repeat 0 0;
				display    : block;
				width      : 18px;
				height     : 19px;
				position   : absolute;
				top        : 50%;
				left       : 0;
			}
		}

		.fb-content {
			@include box-sizing(border-box);
			padding    : 13px 14px;
			background : #d2f9f5;
			height     : 52px;
			border-top : 1px solid $border-green;

			.like-count {
				padding-left : 28px;
				height       : 100%;
				position     : relative;
				color        : #000;
				font-size    : 14px;
				line-height  : 25px;

				&:before {
					content    : '';
					margin-top : -15px;
					background : image-url('btn-fb.png') no-repeat 0 0;
					display    : block;
					width      : 23px;
					height     : 22px;
					position   : absolute;
					top        : 50%;
					left       : 0;
				}
			}

			.fb-share {
				text-indent : -99999px;
				background  : image-url('btn-fb.png') no-repeat -23px 0;
				display     : inline-block;
				width       : 57px;
				height      : 25px;
				float       : right;
				border      : 0;
				cursor      : pointer;
			}
		}
	}

	.l-footer {
		z-index : 0;

		.footer-link:before {
			border-top  : 41px solid $main-bg-green;
			border-left : 180px solid $main-bg-green;
		}
	}
}

.box-content {
	@include box-sizing(border-box);
	padding    : 20px 38px;
	background : #d8eeec;
	width      : 820px;

	.video-title {
		margin-right   : 36px;
		display        : block;
		overflow       : hidden;
		color          : #00645b;
		font-size      : 30px;
		letter-spacing : 1px;
		line-height    : 1.6em;
		text-overflow  : ellipsis;
		white-space    : nowrap;
	}

	.author {
		margin      : 14px 0;
		padding     : 5px 0 5px 50px;
		display     : block;
		position    : relative;
		color       : #616161;
		font-size   : 18px;
		line-height : 24px;

		&:before {
			content       : '';
			margin-top    : -17px;
			background    : $footer-green;
			display       : block;
			width         : 34px;
			height        : 34px;
			position      : absolute;
			top           : 50%;
			left          : 0;
			border-radius : 17px;
		}

		&:after {
			content    : '';
			margin     : -11px 0 0 7px;
			background : image-url('icons.png') no-repeat 0 -59px;
			display    : block;
			width      : 20px;
			height     : 21px;
			position   : absolute;
			top        : 50%;
			left       : 0;
		}
	}

	.video-frame {
		margin-bottom : 28px;
		display       : block;
	}

	.video-info {
		@include box-sizing(border-box);
		padding-top : 19px;
		position    : relative;
		border-top  : 1px solid $border-green;

		.desc {
			width       : 580px;
			color       : #000;
			font-size   : 14px;
			line-height : 24px;
		}

		.fb-content {
			width    : 156px;
			position : absolute;
			bottom   : 0;
			right    : 0;

			.like-count {
				padding-left : 28px;
				height       : 100%;
				position     : relative;
				color        : #000;
				font-size    : 14px;
				line-height  : 25px;

				&:before {
					content    : '';
					margin-top : -15px;
					background : image-url('btn-fb.png') no-repeat 0 0;
					display    : block;
					width      : 23px;
					height     : 22px;
					position   : absolute;
					top        : 50%;
					left       : 0;
				}
			}

			.fb-share-button {
				background : image-url('btn-fb.png') no-repeat -23px 0;
				display    : inline-block;
				width      : 57px;
				height     : 25px;
				float      : right;
				border     : 0;
				cursor     : pointer;
			}
		}
	}

	.btn-close {
		padding    : 0;
		background : image-url('icons.png') no-repeat 0 -19px;
		display    : block;
		width      : 41px;
		height     : 40px;
		position   : absolute;
		top        : 19px;
		right      : 16px;
		border     : 0;
		cursor     : pointer;
	}

	&.winners {
		padding    : 24px 68px 24px 26px;
		background : #fff;
		width      : 796px;

		.box-title {
			background : image-url('winners-text.png') no-repeat 0 0;
			display    : block;
			width      : 206px;
			height     : 48px;
		}

		.winners-info {
			margin-left : 36px;

			.list {
				height      : 56px;
				color       : #444;
				font-size   : 18px;
				line-height : 56px;

				&:nth-child(2n) {
					background : #f2f2f2;
				}

				em, span {
					display : block;
					width   : 25%;
					float   : left;
				}
			}
		}
	}
}

/* activity */
body.activity {
	.midWrap {
		&:before {
			content     : '';
			margin-left : -580px;
			background  : image-url('bg-activity.png') no-repeat 0 0;
			display     : block;
			width       : 1160px;
			height      : 446px;
			position    : absolute;
			top         : 960px;
			left        : 50%;
		}

		&:after {
			content     : '';
			margin-left : 300px;
			background  : image-url('bg-reward.png') no-repeat 0 0;
			display     : block;
			width       : 290px;
			height      : 603px;
			position    : absolute;
			top         : 1241px;
			left        : 50%;
			z-index     : -1;
		}

		.mainContent {
			margin-bottom : 102px;
			height        : auto;
			position      : relative;

			&:before {
				content       : '';
				position      : absolute;
				bottom        : -424px;
				left          : 0;
				border-top    : 219px solid transparent;
				border-right  : 960px solid $menu-bg-yellow;
				border-bottom : 219px solid $menu-bg-yellow;
				border-left   : 960px solid transparent;
			}

			&:after {
				content    : '';
				background : $menu-bg-yellow;
				display    : block;
				width      : 100%;
				height     : 597px;
				position   : absolute;
				bottom     : -1021px;
				left       : 0;
				z-index    : -1;
			}
		}

		.main-image, .sub-image {
			position : absolute;
			z-index  : 0;
		}
	}

	.subContent {
		position : relative;

		&:before {
			content       : '';
			position      : absolute;
			top           : 481px;
			left          : 0;
			border-top    : 219px solid transparent;
			border-right  : 960px solid $light-bg-green;
			border-bottom : 219px solid $light-bg-green;
			border-left   : 960px solid transparent;
		}

		&:after {
			content    : '';
			background : $light-bg-green;
			display    : block;
			width      : 100%;
			height     : 884px;
			position   : absolute;
			top        : 919px;
			left       : 0;
			z-index    : -1;
		}

		.content-Wrap {
			@include box-sizing(border-box);
			padding        : 42px 60px 42px 82px;
			background     : $main-bg-green;
			width          : 1072px;
			border         : 6px solid $menu-bg-yellow;
			color          : $font-green;
			font-size      : 16px;
			letter-spacing : 1px;
			line-height    : 30px;

			.sub-title {
				margin     : 0 0 9px 0;
				background : image-url('act-text.png') no-repeat 0 0;
				display    : block;
				width      : 203px;
				height     : 44px;
			}

			.rule-title {
				margin     : 36px 0 9px 0;
				background : $menu-bg-yellow image-url('act-text.png') no-repeat 0 -44px;
				display    : block;
				width      : 98px;
				height     : 19px;
				border     : 5px solid $menu-bg-yellow;

				&.selection {
					background-position : 0 -63px;
				}

				&.size {
					background-position : 0 -82px;
				}

				&.copyright {
					background-position : 0 -101px;
					width               : 120px;
				}

				&.related {
					background-position : 0 -120px;
					width               : 120px;
				}

				&.need-to-know {
					background-position : 0 -139px;
				}
			}

			.main-desc {
				color       : #000;
				font-weight : bold;
			}

			.theme-sec {
				color : #000;

				.theme-info {
					margin       : 36px 0;
					padding-left : 125px;
					position     : relative;

					&:before {
						content       : '';
						margin-top    : -51px;
						background    : $bg-white;
						display       : block;
						width         : 102px;
						height        : 102px;
						position      : absolute;
						top           : 50%;
						left          : 0;
						border-radius : 51px;
					}

					&:after {
						content    : '';
						background : image-url('icon-theme.png') no-repeat 0 0;
						display    : block;
						position   : absolute;
						top        : 50%;
						left       : 0;
					}

					&.date {
						width       : 400px;
						font-size   : 22px;
						font-weight : bold;
						line-height : 36px;

						&:after {
							margin : -25px 0 0 26px;
							width  : 50px;
							height : 50px;
						}
					}

					&.video {
						&:after {
							margin              : -20px 0 0 23px;
							background-position : 0 -50px;
							width               : 58px;
							height              : 39px;
						}

						.join {
							background-position : 0 -215px;
							width               : 205px;
						}

						.type {
							background-position : 0 -234px;
							width               : 98px;
							clear               : both;
						}

						.set {
							background-position : 0 -253px;
							width               : 98px;
							clear               : both;
						}
					}

					&.reward {
						padding-left : 239px;

						&:after {
							margin              : -27px 0 0 27px;
							background-position : 0 -89px;
							width               : 47px;
							height              : 53px;
						}

						.info-title {
							margin-top          : -10px;
							background-position : 0 -272px;
							position            : absolute;
							top                 : 50%;
							left                : 125px;
						}

						.info {
							font-weight : bold;
						}
					}

					.info-title {
						margin     : 8px 16px 9px 0;
						background : image-url('act-text.png') no-repeat 0 0;
						display    : inline-block;
						width      : 98px;
						height     : 19px;
						float      : left;

						&.post-time {
							background-position : 0 -158px;
						}

						&.vote-time {
							background-position : 0 -177px;
						}

						&.promulgate-time {
							background-position : 0 -196px;
						}
					}

					.info {
						display     : inline-block;
						float       : left;
						line-height : 36px;
					}
				}
			}

			.desc {
				background : none;
			}

			.order-list {
				padding-left : 26px;
				list-style   : outside decimal;
			}

			.unorder-list .list {
				padding-left : 111px;
				position     : relative;

				&:before {
					content    : '';
					background : $footer-green;
					display    : block;
					width      : 9px;
					height     : 9px;
					position   : absolute;
					top        : 10px;
					left       : 0;
				}

				.key {
					position : absolute;
					top      : 0;
					left     : 26px;
				}
			}
		}
	}

	.l-footer {
		z-index : auto;

		&:before {
			top : -926px;
		}

		&:after {
			content    : '';
			background : $footer-green;
			display    : block;
			width      : 100%;
			height     : 497px;
			position   : absolute;
			top        : -497px;
			left       : 0;
			z-index    : -1;
		}

		.footer-link:before {
			display : none;
		}
	}
}

/* join */
body.join {
	.midWrap {
		margin-bottom : 95px;

		&:before {
			content     : '';
			margin-left : -580px;
			background  : image-url('bg-activity.png') no-repeat 0 0;
			display     : block;
			width       : 1160px;
			height      : 446px;
			position    : absolute;
			top         : 960px;
			left        : 50%;
		}

		&:after {
			content     : '';
			margin-left : 300px;
			background  : image-url('bg-reward.png') no-repeat 0 0;
			display     : block;
			width       : 290px;
			height      : 603px;
			position    : absolute;
			top         : 1120px;
			left        : 50%;
		}

		.mainContent {
			margin-bottom : 102px;
			height        : auto;
			position      : relative;

			&:before {
				content       : '';
				position      : absolute;
				bottom        : -424px;
				left          : 0;
				border-top    : 219px solid transparent;
				border-right  : 960px solid $menu-bg-yellow;
				border-bottom : 219px solid $menu-bg-yellow;
				border-left   : 960px solid transparent;
			}

			&:after {
				content    : '';
				background : $menu-bg-yellow;
				display    : block;
				width      : 100%;
				height     : 597px;
				position   : absolute;
				bottom     : -1020px;
				left       : 0;
				z-index    : -1;
			}
		}

		.main-image, .sub-image {
			position : absolute;
			z-index  : 1;
		}
	}

	.subContent {
		position : relative;

		&:before {
			content       : '';
			position      : absolute;
			top           : 481px;
			left          : 0;
			border-top    : 219px solid transparent;
			border-right  : 960px solid $light-bg-green;
			border-bottom : 219px solid $light-bg-green;
			border-left   : 960px solid transparent;
		}

		&:after {
			content    : '';
			background : $light-bg-green;
			display    : block;
			width      : 100%;
			height     : 338px;
			position   : absolute;
			top        : 919px;
			left       : 0;
			z-index    : -1;
		}

		.content-Wrap {
			@include box-sizing(border-box);
			padding        : 72px 79px 62px 51px;
			background     : $main-bg-green;
			width          : 1072px;
			position       : relative;
			border         : 6px solid $menu-bg-yellow;
			z-index        : 1;
			color          : $font-green;
			font-size      : 16px;
			letter-spacing : 1px;
			line-height    : 30px;

			.sub-title {
				margin     : 0 0 44px 0;
				background : image-url('join-text.png') no-repeat 0 0;
				display    : block;
				width      : 218px;
				height     : 48px;
			}

			.lab {
				margin   : 0 0 36px 0;
				padding  : 0 0 0 94px;
				display  : block;
				position : relative;

				.key-type {
					background : image-url('join-text.png') no-repeat 0 -48px;
					display    : block;
					width      : 83px;
					height     : 19px;
					position   : absolute;
					top        : 12px;
					left       : 0;
				}

				.inputbox {
					@include box-sizing(border-box);
					padding     : 0;
					background  : $bg-white;
					width       : 270px;
					height      : 42px;
					border      : 3px solid #000;
					color       : #a6a6a6;
					font-size   : 20px;
					line-height : 36px;
					text-indent : 12px;
				}

				.textarea {
					@include box-sizing(border-box);
					padding     : 1px 12px;
					background  : $bg-white;
					width       : 100%;
					height      : 320px;
					border      : 3px solid #000;
					color       : #a6a6a6;
					font-size   : 20px;
					line-height : 36px;
				}

				label.error {
					position    : absolute;
					bottom      : -30px;
					left        : 94px;
					color       : $font-red;
					font-weight : bold;
				}

				&.phoneNumber .key-type {
						background-position : 0 -67px;
				}

				&.theme {
					.key-type {
						background-position : 0 -86px;
					}

					.inputbox {
						width : 100%;
					}
				}

				&.videoUrl {
					.key-type {
						background-position : 0 -105px;
					}

					.inputbox {
						width : 100%;
					}
				}

				&.concept {
					margin-bottom : 25px;

					.key-type {
						background-position : 0 -124px;
					}
				}
			}

			.btn-wrap {
				margin-bottom : 58px;

				.btn-submit {
					margin     : 0 auto;
					background : #59ffc2;
					display    : block;
					width      : 230px;
					height     : 46px;
					position   : relative;
					border     : 2px solid #000;
					cursor     : pointer;

					&:before {
						content    : '';
						margin     : -10px 0 0 -48px;
						background : image-url('join-text.png') no-repeat 0 -143px;
						display    : block;
						width      : 95px;
						height     : 21px;
						position   : absolute;
						top        : 50%;
						left       : 50%;
					}

					&:after {
						content       : '';
						margin-top    : -10px;
						display       : block;
						position      : absolute;
						top           : 50%;
						right         : 42px;
						border-top    : 10px solid transparent;
						border-bottom : 10px solid transparent;
						border-left   : 18px solid $font-red;
					}
				}
			}

			.emphasize {
				margin-left    : 94px;
				padding        : 0 3px;
				background     : $menu-bg-yellow;
				display        : inline-block;
				height         : 26px;
				color          : $font-green;
				font-size      : 16px;
				letter-spacing : 1px;
				line-height    : 26px;
			}

			.notice {
				margin-left    : 94px;
				color          : $font-green;
				font-size      : 16px;
				letter-spacing : 1px;
				line-height    : 30px;

				.list {
					padding  : 0 0 0 18px;
					position : relative;

					&:before {
						content    : '';
						background : $footer-green;
						display    : block;
						width      : 9px;
						height     : 9px;
						position   : absolute;
						top        : 10px;
						left       : 3px;
					}
				}
			}
		}
	}

	.l-footer {
		z-index : 0;
	}
}

/* mobile */
body.mobile {
	.mainContent {
		padding    : 24px 0 0 16px;
		background : $main-bg-green;
		height     : 171px;

		.main-title {
			margin          : 0 0 6px 0;
			background      : image-url('mobile-text.png') no-repeat 0 0;
			background-size : 203px;
			display         : block;
			width           : 203px;
			height          : 71px;
		}

		.sub-title {
			background      : image-url('mobile-text.png') no-repeat 0 -71px;
			background-size : 203px;
			display         : block;
			width           : 168px;
			height          : 19px;
		}
	}

	.subContent {
		padding    : 7px 18px 25px 17px;
		background : $menu-bg-yellow;
		position: relative;

		&:before {
			content       : '';
			display       : block;
			position      : absolute;
			top           : -108px;
			left          : 0;
			border-top    : 54px solid transparent;
			border-right  : 320px solid $menu-bg-yellow;
			border-bottom : 54px solid $menu-bg-yellow;
			border-left   : 320px solid transparent;
		}

		.sub-title {
			margin-bottom   : 12px;
			background      : image-url('mobile-text.png') no-repeat 0 -90px;
			background-size : 203px;
			display         : block;
			width           : 83px;
			height          : 18px;
		}

		.lab {
			margin   : 0 0 12px 0;
			padding  : 0 0 0 62px;
			display  : block;
			position : relative;

			.key-type {
				background      : image-url('mobile-text.png') no-repeat 0 -108px;
				background-size : 203px;
				display         : block;
				width           : 50px;
				height          : 11px;
				position        : absolute;
				top             : 3px;
				left            : 0;
			}

			.inputbox {
				@include box-sizing(border-box);
				margin-right : 10px;
				padding      : 0;
				background   : $bg-white;
				width        : 112px;
				height       : 18px;
				border       : 1.5px solid #000;
				font-size    : 12px;
				line-height  : 18px;
				text-indent  : 6px;
			}

			label.error {
				color        : $font-red;
				font-weight  : bold;
			}

			&.phoneNumber .key-type {
				background-position : 0 -119px;
			}

			&.theme {
				.key-type {
					background-position : 0 -130px;
					height              : 10px;
				}

				.inputbox {
					margin-right : 0;
					width        : 100%;
				}
			}

			&.videoUrl {
				.key-type {
					background-position : 0 -140px;
				}

				.inputbox {
					margin-right : 0;
					width        : 100%;
				}
			}

			&.concept {
				.key-type {
					background-position : 0 -151px;
					height              : 12px;
				}

				.textarea {
					@include box-sizing(border-box);
					padding     : 0 6px;
					background  : $bg-white;
					width       : 100%;
					height      : 125px;
					border      : 1.5px solid #000;
					font-size   : 12px;
					line-height : 18px;
				}
			}
		}

		.emphasize {
			padding        : 0 4px;
			background     : $main-bg-green;
			display        : inline-block;
			height         : 16px;
			color          : $font-green;
			letter-spacing : 1px;
			line-height    : 16px;
		}

		.notice .list {
			margin-top   : 6px;
			padding-left : 12px;
			position     : relative;
			color        : $font-green;
			line-height  : 18px;

			&:before {
				content    : '';
				background : $footer-green;
				display    : block;
				width      : 4.5px;
				height     : 4.5px;
				position   : absolute;
				top        : 6px;
				left       : 1px;
			}
		}
	}

	.btn-wrap {
		margin-bottom : 35px;
		text-align    : right;

		.btn-submit {
			background: $light-bg-green;
			display  : inline-block;
			width    : 111px;
			height   : 24px;
			position : relative;
			border   : 1.5px solid #000;

			&:before {
				content         : '';
				margin          : -6.5px 0 0 -28px;
				background      : image-url('mobile-text.png') no-repeat 0 -163px;
				background-size : 203px;
				display         : block;
				width           : 56px;
				height          : 13px;
				position        : absolute;
				top             : 50%;
				left            : 50%;
			}

			&:after {
				content       : '';
				margin-top    : -5px;
				display       : block;
				position      : absolute;
				top           : 50%;
				right         : 16px;
				border-top    : 5px solid transparent;
				border-bottom : 5px solid transparent;
				border-left   : 8px solid $font-red;
			}
		}
	}

	.main-image {
		margin          : 0;
		background      : image-url('mobile-text.png') no-repeat right bottom;
		background-size : 203px;
		display         : block;
		width           : 124px;
		height          : 132px;
		position        : absolute;
		top             : 76px;
		left            : auto;
		right           : 4px;
		z-index         : 2;
	}
}

.lt-ie9 {
	.l-header .menu-list .list + li + li + li + li, .l-header .menu-list .list + li + li + li + li + li {
		background : $footer-green;

		&:after {
			border-right  : 29px solid $footer-green;
			border-bottom : 36px solid $footer-green;
		}
	}

	body.vote-page {
		.video-list .list {
			position : relative;
			overflow : visible;

			&:before {
				content    : '';
				background : image-url('ie8/box-shadow.png') no-repeat 0 0;
				display    : block;
				width      : 328px;
				height     : 314px;
				position   : absolute;
				top        : 0;
				left       : -1px;
				z-index    : -1;
			}

			.video-link:before {
				background : image-url('ie8/video-cursor.png') no-repeat 0 0;
			}

			.video-link:hover:before {
				background-position : 0 -54px;
			}
		}

		.fancybox-skin {
			&:before, &:after {
				background : image-url('ie8/green-op67.png');
			}
		}
	}

	.box-content {
		.author:before {
			background : image-url('ie8/circle-green.png');
		}

		&.winners .winners-info {
			li + li, li + li + li + li, li + li + li + li + li + li, li + li + li + li + li + li + li + li {
				background : #f2f2f2;
			}
		}
	}

	body.activity .subContent .content-Wrap .theme-sec .theme-info:before {
		background : image-url('ie8/circle-white.png');
		width      : 103px;
		height     : 103px;
	}
}

/* animation */
body.index {
	.main-image {
		-webkit-animation : mainHide .5s linear forwards .1s;
		-moz-animation    : mainHide .5s linear forwards .1s;
		animation         : mainHide .5s linear forwards .1s;
	}

	.sub-image {
		-webkit-animation : subHide .5s linear forwards .1s;
		-moz-animation    : subHide .5s linear forwards .1s;
		animation         : subHide .5s linear forwards .1s;
	}
}

@-webkit-keyframes mainHide {
	from {
		top     : 303px;
		opacity : 0;
	}
	to {
		top     : 203px;
		opacity : 1;
	}
}

@-moz-keyframes mainHide {
	from {
		top     : 303px;
		opacity : 0;
	}
	to {
		top     : 203px;
		opacity : 1;
	}
}

@keyframes mainHide {
	from {
		top     : 303px;
		opacity : 0;
	}
	to {
		top     : 203px;
		opacity : 1;
	}
}

@-webkit-keyframes subHide {
	from {
		top     : 433px;
		opacity : 0;
	}
	to {
		top     : 333px;
		opacity : 1;
	}
}

@-moz-keyframes subHide {
	from {
		top     : 433px;
		opacity : 0;
	}
	to {
		top     : 333px;
		opacity : 1;
	}
}

@keyframes subHide {
	from {
		top     : 433px;
		opacity : 0;
	}
	to {
		top     : 333px;
		opacity : 1;
	}
}