<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" property="og:description" content="" />
	<meta name="title" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta property="fb:app_id" content="" />
	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:site_name" content="" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/img/shared/favicon.ico">
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="/Content/css/style.css?JS=20160420_01">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<div class="l-main">
		<ul class="bgimage-list">
			<li class="list"><figure class="img-wrap b-middle"><img src="/Content/img/bg/1.jpg" alt=""></figure></li>
			<li class="list"><figure class="img-wrap b-middle"><img src="/Content/img/bg/2.jpg" alt=""></figure></li>
			<li class="list"><figure class="img-wrap b-middle"><img src="/Content/img/bg/3.jpg" alt=""></figure></li>
			<li class="list"><figure class="img-wrap b-middle"><img src="/Content/img/bg/4.jpg" alt=""></figure></li>
			<li class="list"><figure class="img-wrap b-middle"><img src="/Content/img/bg/5.jpg" alt=""></figure></li>
		</ul>
		<ul class="type-list approach">
			<li class="list">
				<h2 class="price-title b-middle"><em>Table</em></h2>
				<ul class="item-list jq-slider">
					<li class="list"></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINBINTS22.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINPORTS13.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINZERTS06.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINBINTS22.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINPORTS13.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINZERTS06.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
				</ul>
			</li>
			<li class="list">
				<h2 class="price-title b-middle"><em>Bed</em></h2>
				<ul class="item-list jq-slider">
					<li class="list"></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTEBARTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTELOWTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADAHIGH.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTEBARTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTELOWTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADAHIGH.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTEBARTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ALEVANTELOWTBL.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADAHIGH.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
				</ul>
			</li>
			<li class="list">
				<h2 class="price-title b-middle"><em>Chair</em></h2>
				<ul class="item-list jq-slider">
					<li class="list"></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3AC5795AIO.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3AC5795C04.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3AB0443G34ANT.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3AC5795AIO.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3AC5795C04.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
				</ul>
			</li>
			<li class="list">
				<h2 class="price-title b-middle"><em>Light</em></h2>
				<ul class="item-list jq-slider">
					<li class="list"></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/light01.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>HÅRTE</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINPORTS13.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINZERTS06.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/light01.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>HÅRTE</b></a>
					</li>
				</ul>
			</li>
			<li class="list">
				<h2 class="price-title b-middle"><em>Others</em></h2>
				<ul class="item-list jq-slider">
					<li class="list"></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADALGELOW.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADALOW.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3MINZERTS06.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>VITOS SG 08 LOW BARSTOOL</b></a>
					</li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADALGELOW.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>PORCINO TS13</b></a></li>
					<li class="list">
						<span class="img-wrap">
							<img src="/Content/img/item/3ARADALOW.jpg" alt="">
						</span>
						<a href="javascript:;" class="b-link b-middle"><b>COLONY PL 18 ARMCHAIR</b></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/factory.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/common.js?JS=20160216_01"></script>
</html>