<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Scripts/plugin/jquery.fancybox/css/jquery.fancybox.css?CSS=20150824_01">
	<link rel="stylesheet" href="../Content/css/index.css?CSS=20150824_01">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js?JS=20150824_01"></script><![endif]-->
</head>
<body class="activity">
	<header class="l-header">
		<nav class="main-menu">
			<ul class="menu-list both">
				<li class="list"><a class="link hide-text index" href="index.html">首頁</a></li>
				<li class="list"><a class="link hide-text activity is-curr" href="activity.html">活動辦法</a></li>
				<li class="list"><a class="link hide-text vote" href="vote.html">我要投票</a></li>
				<li class="list"><a class="link hide-text winners" href="winners.html">得獎名單</a></li>
				<li class="list"><a class="link hide-text join" href="join.html">我要參加</a></li>
				<li class="list"><a class="link hide-text facebook" href="https://www.facebook.com/Puyangupup" target="_blank">Facebook</a></li>
			</ul>
		</nav>
	</header>
	<div class="midWrap">
		<section class="mainContent">
			<div class="content-Wrap">
				<h1 class="main-title hide-text">家在雙和 活力 UP UP!</h1>
				<h2 class="sub-title hide-text">網路影片創作競賽</h2>
			</div>
		</section>
		<section class="subContent">
			<div class="content-Wrap">
				<h2 class="sub-title hide-text both">活動辦法</h2>
				<p class="main-desc">現在的年輕人，睿智又創意十足，在理想中顧及現實、<br>在現實中追求理想”家在雙和‧活力UP UP”<br>網路影片創作競賽歡迎你，秀出鐵草莓成家的新思維，<br>展現年輕人成家的心願景！</p>
				<section class="theme-sec">
					<h3 class="rule-title theme hide-text both">活動主題：</h3>
					<p class="desc">家在雙和‧活力UP UP！<br>如果家在永安市場捷運站旁，便利多自在，如果家在四號公園附近，浪漫多寫意，如果成家的負擔，比想像中輕鬆…<br>一切多美好！沒錯，這就是中和路140號旁”蒲陽雙和”的魅力！”家在雙和、活力UP UP”網路影片創作競賽，<br>邀你以2分鐘短片，表達家住”蒲陽雙和”的多元活力，秀出生活憧憬，讓大家看見年輕人的成家新思維，素材不限，<br>年齡不拘，各種語言沒關係，惟影片中需呈現舉牌相關畫面，才華洋溢的你，現在就請高舉生活夢想，活力大獎等你拿！</p>
					<div class="theme-info date both">
						<h4 class="info-title hide-text post-time">投稿時間：</h4>
						<span class="info">2015/9/1~2015/10/31</span>
						<h4 class="info-title hide-text vote-time">投票時間：</h4>
						<span class="info">2015/9/10~2015/11/9</span>
						<h4 class="info-title hide-text promulgate-time">得獎公佈：</h4>
						<span class="info">2015/11/15</span>
					</div>
					<div class="theme-info video both">
						<h4 class="info-title hide-text join">參賽方法與收件方式：</h4>
						<span class="info">上傳作品至家在雙和活力UPUP比賽官網</span>
						<h4 class="info-title hide-text type">影片類型：</h4>
						<span class="info">不限</span>
						<h4 class="info-title hide-text set">內容設定：</h4>
						<div class="info">
							<span>影片內容須具有以下四種特質</span>
							<ol class="order-list">
								<li class="list">以中永和任何場景及中永和生活景象表現</li>
								<li class="list">表現年輕人為了成家的新思維</li>
								<li class="list">影片中需呈現舉牌相關畫面來訴求想法</li>
								<li class="list">日夜景不限</li>
							</ol>
						</div>
					</div>
					<div class="theme-info reward both">
						<h4 class="info-title hide-text reward-list">獎勵方式：</h4>
						<span class="info">首獎：獎金10萬元整<br>二獎1名：獎金3萬元整<br>網路人氣獎1名：1.5萬元整<br>佳作5名：獎金5000元整<br>合計獎金共計170,000元整</span>
					</div>
				</section>
				<h3 class="rule-title selection hide-text both">評選方式：</h3>
				<ol class="order-list">
					<li class="list">評審作業：由主辦單位選出前二名及佳作5名、網路最高人氣獎。</li>
					<li class="list">評選標準：以『原創性10%、主題性45%、技巧性45%』為原則。</li>
					<li class="list">評選結果於活動官網公布得獎名單，並以E-MAIL及電話通知得獎者。</li>
				</ol>
				<h3 class="rule-title size hide-text both">作品規格：</h3>
				<ul class="unorder-list">
					<li class="list both">
						<em class="key">影片長度：</em>
						<span class="detail">90秒~3分鐘（不含片頭）影片片頭僅能出現作品名稱，片頭片尾請勿出現任何工作人員表。</span>
					</li>
					<li class="list both">
						<em class="key">影片語言：</em>
						<span class="detail">語言不限制 參賽作品之對白或旁白，須附上中文字幕；非中文之部分須附上中文翻譯</span>
					</li>
					<li class="list both">
						<em class="key">影片介紹：</em>
						<span class="detail">100~300字，說明影片之內容、創意、發想等 為必填資料，此文字說明將由活動執行單位於影片上傳時附於 YOUTUBE網站。</span>
					</li>
					<li class="list both">
						<em class="key">影片格式：</em>
						<span class="detail">avi / mov / mpg 1920X1080 Full HD</span>
					</li>
				</ul>
				<h3 class="rule-title copyright hide-text both">作品著作權：</h3>
				<ul class="unorder-list">
					<li class="list both">
						<em class="key">音樂素材：</em>
						<span class="detail">1.自行創作  2.「創用CC」授權之音樂  3.其他合法取得授權之音樂若使用受著作權規範的音樂素材，參賽者須備妥作品音樂版權授權書，通知入圍後需與影片光碟一併提供主辦單位。蒐集免費音樂的 Soundclick.com 最新的音樂 Feemusicarchive.org</span>
					</li>
					<li class="list both">
						<em class="key">影像素材：</em>
						<span class="detail">自行拍攝，器材不拘。</span>
					</li>
					<li class="list both">
						<em class="key">肖像權：</em>
						<span class="detail">影片內之人物，應獲當事人拍攝同意，以免侵害其肖像權。</span>
					</li>
				</ul>
				<h3 class="rule-title related hide-text both">著作權相關：</h3>
				<p class="desc">參賽者同意作品於活動評選期間能無限次播放及使用。<br>得獎者同意將得獎作品之著作財產權無條件轉讓與主辦單位宣傳及使用。主辦單位得利用其得獎作品於國內外重製、散布、改作、公開傳輸、公開播送及公開上映。<br>參賽者投稿以原創之著作為限，作品經查屬抄襲或侵權者，取消其資格，得獎者並予追回獎金，得獎者不得異議。<br>參賽作品若有牴觸任何有關著作權之法令，一切法律責任由參賽者承擔，主辦單位概不負責。<br>音樂、影像及文字等：請注意勿違反著作權相關規定。</p>
				<h3 class="rule-title need-to-know hide-text both">參賽需知：</h3>
				<ol class="order-list">
					<li class="list">參加者保證所有填寫或提出之資料均為真實且正確，且所有註冊應為參加者自發性行為，不可冒用或盜用任何第三人之資料，以免觸法。一經查證有偽造或冒名，主辦單位有權不經說明，直接取消得獎者之一切資格，並採順位候補不另通知。</li>
					<li class="list">如得獎者之聯絡資料有誤，造成主辦單位無法聯絡到得獎者，將視同放棄得獎資格。</li>
					<li class="list">每一參賽者（團體）投稿件數不限。</li>
					<li class="list">作品未達獎項水準者，得以從缺。</li>
					<li class="list">作品若入圍決賽，參賽者（團體）須提供主辦單位原始檔作品光碟，屆時將有專人聯繫相關事宜。</li>
				</ol>
			</div>
		</section>
		<div class="main-image"></div>
		<div class="sub-image"></div>
	</div>
	<footer class="l-footer">
		<ul class="footer-link">
			<li class="list logo"><a class="link hide-text" href="javascript:;">創意家行銷股份有限公司</a></li>
			<li class="list copyright"><a class="link hide-text" href="javascript:;">2015 創意家行銷股份有限公司 All rights reserved.</a></li>
			<li class="list fans-club"><a class="link hide-text" href="https://www.facebook.com/Puyangupup" target="_blank">活力UP UP粉絲團</a></li>
			<li class="list youtube"><a class="link hide-text" href="https://www.youtube.com/" target="_blank">Youtube</a></li>
		</ul>
	</footer>
</body>
<script type="text/javascript" src="../Scripts/plugin/jquery/jquery.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/jquery.fancybox/js/jquery.fancybox.pack.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/js/main.js?JS=20150824_01"></script>
</html>