<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Scripts/plugin/jquery.fancybox/css/jquery.fancybox.css?CSS=20150824_01">
	<link rel="stylesheet" href="../Content/css/index.css?CSS=20150824_01">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js?JS=20150824_01"></script><![endif]-->
</head>
<body>
	<header class="l-header">
		<nav class="main-menu">
			<ul class="menu-list both">
				<li class="list"><a class="link hide-text index is-curr" href="javascript:;">首頁</a></li>
				<li class="list"><a class="link hide-text activity" href="activity.html">活動辦法</a></li>
				<li class="list"><a class="link hide-text vote" href="vote.html">我要投票</a></li>
				<li class="list"><a class="link hide-text winners" href="winners.html">得獎名單</a></li>
				<li class="list"><a class="link hide-text join" href="join.html">我要參加</a></li>
				<li class="list"><a class="link hide-text facebook" href="https://www.facebook.com/Puyangupup" target="_blank">Facebook</a></li>
			</ul>
		</nav>
	</header>
	<div class="midWrap">
		<section class="mainContent">
			<div class="content-Wrap">
				<h1 class="main-title hide-text">家在雙和 活力 UP UP!</h1>
				<h2 class="sub-title hide-text">網路影片創作競賽</h2>
				<p class="desc hide-text">邀請年輕的你，2分鐘秀出你的蒲陽雙和夢！拍出你對生活的憧憬、演出你想成家的熱情</p>
				<em class="emphasize hide-text">總獎金17萬！ 為夢想發聲就趁現在！</em>
			</div>
		</section>
		<section class="subContent activity-time">
			<div class="content-Wrap">
				<h2 class="sub-title hide-text both">活動時間</h2>
				<p class="desc hide-text both">投稿時間：2015年9月1日~2015年10月31日 投票時間：2015年9月10日~2015年11月9日 得獎公布：2015年11月15日</p>
				<a class="btn-link hide-text" href="javascript:;">馬上報名</a>
				<span class="crossed hide-text">╳</span>
			</div>
		</section>
		<section class="subContent reward">
			<div class="content-Wrap">
				<h2 class="sub-title hide-text both">獎勵方式</h2>
				<p class="desc hide-text both">首獎：獎金 10萬元整 x1名 二獎：獎金  3萬元整 x1名 網路人氣獎：1.5萬元整 x1名 佳作：獎金 5000元整 x5名 合計獎金共計 170,000元整</p>
				<a class="btn-link hide-text both" href="javascript:;">活動辦法</a>
				<span class="crossed hide-text">╳</span>
				<div class="reward-image"></div>
			</div>
		</section>
		<div class="main-image"></div>
		<div class="sub-image"></div>
		<button class="btn-slide-down hide-text">next</button>
	</div>
	<footer class="l-footer">
		<div class="btn-wrap">
			<a class="btn-link hide-text both" href="javascript:;">馬上報名</a>
		</div>
		<ul class="footer-link">
			<li class="list logo"><a class="link hide-text" href="javascript:;">創意家行銷股份有限公司</a></li>
			<li class="list copyright"><a class="link hide-text" href="javascript:;">2015 創意家行銷股份有限公司 All rights reserved.</a></li>
			<li class="list fans-club"><a class="link hide-text" href="https://www.facebook.com/Puyangupup" target="_blank">活力UP UP粉絲團</a></li>
			<li class="list youtube"><a class="link hide-text" href="https://www.youtube.com/" target="_blank">Youtube</a></li>
		</ul>
	</footer>
</body>
<script type="text/javascript" src="../Scripts/plugin/jquery/jquery.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/jquery.fancybox/js/jquery.fancybox.pack.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/jquery.scrollmagic/jquery.scrollmagic.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/TweenMax/TweenMax.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/js/main.js?JS=20150824_01"></script>
</html>