<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Content/css/index.css">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js"></script><![endif]-->
</head>
<body class="lightbox-page">
	<div class="box-content">
		<h2 class="video-title">Astronaut Chris Hadfield Space Oddity song HD, HQ, Major Tom, David Bowie</h2>
		<em class="author">David Bowiefans</em>
		<iframe class="video-frame" src="http://www.youtube.com/embed/poZCINzxzrQ" frameborder="0" height="370" width="744" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="true"></iframe>
		<div class="video-info">
			<p class="desc">概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明概念說明</p>
			<div class="fb-content">
				<em class="like-count">1,236</em>
				<button class="fb-share">share</button>
			</div>
		</div>
		<button class="btn-close hide-text" onclick="window.parent.$.fancybox.close()">close</button>
	</div>
</body>
</html>