<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Content/css/index.css?CSS=20150824_01">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js?JS=20150824_01"></script><![endif]-->
</head>
<body class="mobile">
	<div class="midWrap">
		<section class="mainContent">
			<h1 class="main-title hide-text">家在雙和 活力 UP UP!</h1>
			<h2 class="sub-title hide-text">網路影片創作競賽</h2>
		</section>
		<section class="subContent">
			<h3 class="sub-title hide-text">投稿頁面</h3>
			<label class="lab both name">
				<em class="key-type hide-text">作者姓名</em>
				<input class="inputbox" type="text" placeholder="請輸入姓名">
			</label>
			<label class="lab both phone-number">
				<em class="key-type hide-text">聯絡電話</em>
				<input class="inputbox" type="tel" placeholder="請輸入聯絡電話" maxlength="10">
			</label>
			<label class="lab both theme">
				<em class="key-type hide-text">主題</em>
				<input class="inputbox" type="text" placeholder="請輸入20字內影片主題名稱" maxlength="20">
			</label>
			<label class="lab both video-url">
				<em class="key-type hide-text">影片連結</em>
				<input class="inputbox" type="url" placeholder="請貼上Youtube影片連結">
			</label>
			<label class="lab both concept">
				<em class="key-type hide-text">創意概念</em>
				<textarea class="textarea" maxlength="200" placeholder="請輸入200字內之創意概念說明"></textarea>
			</label>
			<div class="btn-wrap">
				<a class="btn-submit hide-text" href="javascript:;">確認送出</a>
			</div>
			<em class="emphasize">注意事項</em>
			<ul class="notice">
				<li class="list">您瞭解主辦單位並未針對您所上傳的內容事先加以審查，但主辦單位有權（但無義務），拒絕或移除您於本活動所提供之任何內容。</li>
				<li class="list">您於參加本活動上傳圖文，照片，影片及其他資料之同時，即表示您已閱讀，瞭解並同意接受本活動之活動辦法主辦班為之所有內容，如有違反，主辦單位得就因此所生之損害向您請求損害賠償。</li>
			</ul>
		</section>
		<div class="main-image"></div>
	</div>
</body>
<script type="text/javascript" src="../Scripts/plugin/jquery/jquery.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/jquery.validate/jquery.validate.js"></script>
<script type="text/javascript" src="../Scripts/js/main.js?JS=20150824_01"></script>
</html>