<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Scripts/plugin/jquery.fancybox/css/jquery.fancybox.css?CSS=20150824_01">
	<link rel="stylesheet" href="../Content/css/index.css?CSS=20150824_01">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js?JS=20150824_01"></script><![endif]-->
</head>
<body class="vote-page">
	<header class="l-header">
		<nav class="main-menu">
			<ul class="menu-list both">
				<li class="list"><a class="link hide-text index" href="index.html">首頁</a></li>
				<li class="list"><a class="link hide-text activity" href="activity.html">活動辦法</a></li>
				<li class="list"><a class="link hide-text vote is-curr" href="vote.html">我要投票</a></li>
				<li class="list"><a class="link hide-text winners" href="winners.html">得獎名單</a></li>
				<li class="list"><a class="link hide-text join" href="join.html">我要參加</a></li>
				<li class="list"><a class="link hide-text facebook" href="https://www.facebook.com/Puyangupup" target="_blank">Facebook</a></li>
			</ul>
		</nav>
	</header>
	<div class="midWrap">
		<section class="mainContent">
			<div class="content-Wrap">
				<h1 class="main-title hide-text">家在雙和 活力 UP UP!</h1>
				<h2 class="sub-title hide-text">網路影片創作競賽</h2>
				<div class="sortable both">
					<span class="desc">排序依</span>
					<button class="btn-sort btn-sort-by-date hide-text is-curr">最新日期</button>
					<button class="btn-sort btn-sort-by-hot hide-text">人氣</button>
				</div>
				<ul class="video-list both">
					<li class="list">
						<a class="video-link" href="lightbox.html?id=-x3zAMfmpAM" data-id="-x3zAMfmpAM">
							<img src="http://img.youtube.com/vi/-x3zAMfmpAM/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Interstellar "S.T.A.Y." Main Theme Song - Hans Zimmer (Original Motion Picture Soundtrack)</h3>
							<em class="author">藍道夫</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=poZCINzxzrQ" data-id="poZCINzxzrQ">
							<img src="http://img.youtube.com/vi/poZCINzxzrQ/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Astronaut Chris Hadfield Space Oddity song HD, HQ, Major Tom, David Bowie</h3>
							<em class="author">David Bowiefans</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=46HaUZSkJDY" data-id="46HaUZSkJDY">
							<img src="http://img.youtube.com/vi/46HaUZSkJDY/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">五月天feat家家[如煙+如果還有明天] 官方LIVE 2CD版MV</h3>
							<em class="author">五月天</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=D9ksLn6hZ7Q" data-id="D9ksLn6hZ7Q">
							<img src="http://img.youtube.com/vi/D9ksLn6hZ7Q/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">G.E.M.鄧紫棋 - 多遠都要在一起 LONG DISTANCE MV [HD]</h3>
							<em class="author">GEMblog</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=ST2H8FWDvEA" data-id="ST2H8FWDvEA">
							<img src="http://img.youtube.com/vi/ST2H8FWDvEA/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">In the House, In a Heartbeat - John Murphy</h3>
							<em class="author">Ben J</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=9zdNdjF-htY" data-id="9zdNdjF-htY">
							<img src="http://img.youtube.com/vi/9zdNdjF-htY/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">The Arcade Fire - Wake Up</h3>
							<em class="author">BrainOrgasM</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=Z1LUj7_8xiI" data-id="Z1LUj7_8xiI">
							<img src="http://img.youtube.com/vi/Z1LUj7_8xiI/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">The Godfather theme- 1 Hour</h3>
							<em class="author">kkwik5</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=Mssm8Ml5sOo" data-id="Mssm8Ml5sOo">
							<img src="http://img.youtube.com/vi/Mssm8Ml5sOo/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Wye Oak: Civilian</h3>
							<em class="author">musicaenzona</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=dlEciuqMkjc" data-id="dlEciuqMkjc">
							<img src="http://img.youtube.com/vi/dlEciuqMkjc/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Young And Beautiful ''大亨小傳'' 主题曲 -- Lana Del Rey (拉娜德芮)</h3>
							<em class="author">雷慧印</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=xWTiOqJqkk0" data-id="xWTiOqJqkk0">
							<img src="http://img.youtube.com/vi/xWTiOqJqkk0/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Mayday五月天[傷心的人別聽慢歌(貫徹快樂)]MV官方完整版-諾亞方舟3D電影主題曲</h3>
							<em class="author">binmusictaipei</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=71IQ60O0xV4" data-id="71IQ60O0xV4">
							<img src="http://img.youtube.com/vi/71IQ60O0xV4/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">陈奕迅 - 爱情转移 MV</h3>
							<em class="author">meng0217 的频道</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
					<li class="list">
						<a class="video-link" href="lightbox.html?id=DDs5bXh4erM" data-id="DDs5bXh4erM">
							<img src="http://img.youtube.com/vi/DDs5bXh4erM/0.jpg" alt="" />
						</a>
						<div class="video-info">
							<h3 class="video-title">Mayday五月天【入陣曲】MV官方動畫版-中視[蘭陵王]片頭曲</h3>
							<em class="author">binmusictaipei</em>
						</div>
						<div class="fb-content">
							<em class="like-count">1,236</em>
							<button class="fb-share"></button>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<div class="main-image"></div>
		<div class="sub-image"></div>
	</div>
	<footer class="l-footer">
		<ul class="footer-link">
			<li class="list logo"><a class="link hide-text" href="javascript:;">創意家行銷股份有限公司</a></li>
			<li class="list copyright"><a class="link hide-text" href="javascript:;">2015 創意家行銷股份有限公司 All rights reserved.</a></li>
			<li class="list fans-club"><a class="link hide-text" href="https://www.facebook.com/Puyangupup" target="_blank">活力UP UP粉絲團</a></li>
			<li class="list youtube"><a class="link hide-text" href="https://www.youtube.com/" target="_blank">Youtube</a></li>
		</ul>
	</footer>
	<div id="fb-root"></div>
</body>
<script type="text/javascript" src="../Scripts/plugin/jquery/jquery.min.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/plugin/jquery.fancybox/js/jquery.fancybox.pack.js?JS=20150824_01"></script>
<script type="text/javascript" src="../Scripts/js/main.js?JS=20150824_01"></script>
</html>