<!DOCTYPE HTML>
<!--[if lt IE 8]>      <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:site_name" content=""/>
	<title></title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../Content/css/index.css">
	<!--[if lt IE 9]><script type="text/javascript" src="../Scripts/plugin/html5/html5.js"></script><![endif]-->
</head>
<body class="lightbox-page">
	<div class="box-content winners unpublished">
		<h2 class="box-title hide-text">得獎名單</h2>
		<div class="unpublished-info">
			<em class="emphasize">得獎名單將於2015年11/15公佈</em>
			<span class="desc">活動尚未結束</span>
			<div class="btn-wrap">
				<a class="btn-link hide-text link-join" href="join.html">馬上報名</a>
				<a class="btn-link hide-text link-vote" href="vote.html">我要投票</a>
			</div>
		</div>
		<ul class="winners-info">
			<li class="list both">
				<em class="awards">【首獎】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金10萬元整</span>
			</li>
			<li class="list both">
				<em class="awards">【二獎】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金3萬元整</span>
			</li>
			<li class="list both">
				<em class="awards">【網路人氣獎】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金1.5萬元整</span>
			</li>
			<li class="list both">
				<em class="awards">【佳作】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金5000元整</span>
			</li>
			<li class="list both">
				<em class="awards">【佳作】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金5000元整</span>
			</li>
			<li class="list both">
				<em class="awards">【佳作】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金5000元整</span>
			</li>
			<li class="list both">
				<em class="awards">【佳作】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金5000元整</span>
			</li>
			<li class="list both">
				<em class="awards">【佳作】</em>
				<span class="author-name">奇岩微旅</span>
				<span class="works-title">作者:程X榮</span>
				<span class="rewards">獎金5000元整</span>
			</li>
		</ul>
		<button class="btn-close hide-text" onclick="window.parent.$.fancybox.close()">close</button>
	</div>
</body>
</html>